.title {
    color: white;
    font-size: 20px;
    margin-top: 1.2rem;
    margin-left: 20px
}

header { 
    color: white;
    background: rgb(13, 161, 211)!important;
}


.homebutton {
  font-size: 24px;
  color: white;
  padding: 16px;
}

/* Navigation bar at top right corner */
.navbar-light .navbar-nav .nav-link {
    color:black;
    font-size: 20px;
    font-weight:500;
    background-color: rgb(238, 238, 238)!important;
}

/* Navigation bar background at top right corner */
.bg-light {
  color:black;
  font-size: 20px;
  font-weight:500;
  background-color: rgb(238, 238, 238)!important;
}


.container {
  margin-top: 50px;
}

h2 {
  font-size: 24px;
  margin-bottom: 24px;
  color: rgb(13, 161, 211);

}

h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  color: rgb(13, 161, 211);
}

#comp-header {
  text-align: left;
  margin-left: 95px;
}

.description {
  margin-top: 30px;
  margin-bottom: 30px;
}


/* The top left image and paragraph under Summary: Latitude vs. X */
#figure {
    position: relative;
    margin-top: 0px;
  }
#summary {
    width: 90%;
    float: left;
  }
#vis-image {
    margin-right: 20px;
    float: left;
  }


/* Data page and dataset */
#dataset {
    margin-bottom: 100px;
}

.row-custom{
  flex-direction: row !important;
}

/* Increaase visualization previews for mobile */


@media only screen and (max-width: 768px) {
    .vis-image-p {
      width: 90px;
      height: 70px;
    }
    
    .col-custom{
      max-width: 60% !important;
    }

    .div-menu-toggle {
      padding-left: 120px;
    }

    .full-comp {
      width: 340px;
      height: 250px;
    }
    

    .vis-image-comp {
      max-width: 100%;
    }


    .col-sm-8 .col-sm-4 {
      flex: 90%!important;
      max-width: 90%!important;
    }
    
    #summary, #figure, #vis-image {
        float: none;
    }

    .navbar-light .navbar-nav .nav-link {
      color:black;
      font-size: 20px;
      font-weight:500;
      background-color: rgb(13, 161, 211)!important;
      margin-right: 50px
    }
  
  /* Navigation bar background at top right corner */
    .bg-light {
      color:black;
      font-size: 20px;
      font-weight:500;
      margin-right: 100px;
      background-color: rgb(13, 161, 211)!important;
    }
    
  }


