/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: white;
  }
  
  header {
    background: white;
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: left;
    background: white;
  }
  .title {
    background: rgb(61, 187, 155);
    color: white

  }
  h2 {
    font-size: 20px;
    margin-left: 20px;
  }

  /* Selecting elements by class */
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  /* Selecting elements by ID */
  #summary,
  #preview-visualizations,
  #vis-image {
    float: left;
  }
  
  #figure {
    position: relative;
  }
  
  #project-intro {
    position: top left;
    font-size: 20px;
    top: 150px;
    left: 30px;
  }
  
  #summary {
    width: 70%;
  }
  
  #preview-visualizations {
    width: 30%;
  }
  
  #vis-image {
    width: 200px;
    /* height: 200px; */
    margin-right: 20px;
  }

  .vis-image-p {
    width: 300px;
    /* height: 200px; */
    margin-right: 20px;
  }