.title {
    color: white;
    font-size: 20px;
    margin-top: 1.2rem;
    margin-left: 20px
}

header { 
    color: white;
    background: rgb(13, 161, 211)!important;
}


.homebutton {
  font-size: 24px;
  color: white;
  padding: 16px;
}

/* Navigation bar at top right corner */
.navbar-light .navbar-nav .nav-link {
    color:black;
    font-size: 20px;
    font-weight:500;
    background-color: rgb(238, 238, 238)!important;
}

/* Navigation bar background at top right corner */
.bg-light {
  color:black;
  font-size: 20px;
  font-weight:500;
  background-color: rgb(238, 238, 238)!important;
}


.container {
  margin-top: 50px;
}

h2 {
  font-size: 24px;
  margin-bottom: 24px;
  color: rgb(13, 161, 211);

}

h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  color: rgb(13, 161, 211);
}

#comp-header {
  text-align: left;
  margin-left: 120px;
}

.description {
  margin-top: 30px;
  margin-bottom: 30px;
}


/* The top left image and paragraph under Summary: Latitude vs. X */
#figure {
    position: relative;
    margin-top: 0px;
  }
#summary {
    width: 90%;
    float: left;
  }
#vis-image {
    margin-right: 20px;
    float: left;
  }


/* Data page and dataset */
#dataset {
    margin-bottom: 100px;
}



/* Increaase visualization previews for mobile */

@media only screen and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link {
    color:black;
    font-size: 20px;
    font-weight:500;
    background-color: rgb(13, 161, 211)!important;
  }
  

/* Navigation bar background at top right corner */
  .bg-light {
    color:black;
    font-size: 20px;
    font-weight:500;
    background-color: rgb(13, 161, 211)!important;
  }
}

@media only screen and (max-width: 600px) {
    .vis-image-p {
      width: 120px;
      height: 80px;
    }
    
    #summary, #figure, #vis-image {
        float: none;
    }
    .navbar-light .navbar-nav .nav-link {
      color:black;
      font-size: 20px;
      font-weight:500;
      background-color: rgb(13, 161, 211)!important;
    }
  
  /* Navigation bar background at top right corner */
    .bg-light {
      color:black;
      font-size: 20px;
      font-weight:500;
      background-color: rgb(13, 161, 211)!important;
    }
    
  }


